body{
  background-image: url("./assets/images/whiteBrick.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolioContainer {
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  flex-direction: column;
}
.welcomeContainer{
  font-weight:bold;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  flex-direction: column;
  z-index:3;
  font-size:3em;
  color:white;
}
.imageContainer{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  flex-direction: column;
  background-size: 100%,cover;
  background: url(./assets/images/introBackgroundImage.jpg) no-repeat;
  height: calc(35vh + 35vw);
}
.brushStroke{
  position: relative;
  width: 100%;
  height: 145px;
  background-image: url(./assets/images/brush.png);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 30%;
}
.projectLeft{
  position:relative;
  width:35%;
  height:250px;
  border:2px solid red;
}
.projectRight{
  position: relative;
  width:35%;
  height:250px;
  border:2px solid blue;
}
.introductionContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 3%;
}
.projectsContainer{
  width:100%;
}
.leftSide{
  width:100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rightSide{
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.myPic{
  width:250px;
  height:350px;
}